.input {
  margin: 3rem auto;
  width: 35rem;
  max-width: 90%;
  padding: 1rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.input input {
  width: 100%;
  padding: 0.15rem;
  font: inherit;
  border: 1px solid #7a7a7a;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
}
